body {
    overflow-x: hidden;
}

.item:hover {
	transition: 0.5s ease-in-out;
	color: rgb(0,144,200);
	border: 1px solid;
	border-radius: 3%;
	text-decoration: none;
}

.item{
	color: rgb(48, 48, 48);
	border: 1px solid;
	border-radius: 3%;
	border-color: transparent;
}

