body {
	overflow-x: hidden;
}
.sub {
    font-family: 'Roboto', sans-serif;
}

.item:hover {
	transition: 0.5s ease-in-out;
	color: rgb(255,204,0);
	border: 1px solid;
	border-radius: 1%;
	text-decoration: none;
}

.item{
	color:rgb(247, 247, 239);
	border: 1px solid;
	border-radius: 1%;
	border-color: transparent;
}

