.emp-profile{
    margin-top: 20%;
    margin-left: 35%;
    width:90%;
    padding: 3%;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0px 0px 4px 0px #545b62;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 250%;
    height: 210%;
    border-radius: 100%;
    margin-left: 60%;
    margin-top:30%;
}

.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}

.sub0 {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}