.container {
    height: 50%;
    padding: 2%;
    border: 2px solid black;
    top: 50%;
    margin-top: 30%;
}

a:hover {
    color: red;
}

.container {
    border-radius: 2%;
}

input {
  border-bottom: none;
  height: 45px;
}

body {
    overflow: hidden;
}
